DOMAIN_NAME=mlakhdar.42.fr

HOST_LOGIN=mlakhdar

PROJECT_ROOT=/home/mlakhdar
REPO_NAME=incpetion

MARIADB_DATABASE=wordpress
MARIADB_USER=mlakhdar
MARIADB_PASSWORD=123456
MARIADB_ROOT_PASSWORD=root123

WORDPRESS_URL=https://mlakhdar.42.fr
WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=admin_lakhdar
WORDPRESS_ADMIN_PASSWORD=admin123
WORDPRESS_ADMIN_EMAIL=admin@student.42.fr


WORDPRESS_USER=mlakhdar
WORDPRESS_USER_EMAIL=mlakhdar@student.42.fr
WORDPRESS_USER_PASSWORD=mlakhdar1234

REDIS_HOST=redis
REDIS_PORT=6379

FTP_USER=mlakhdar
FTP_PASSWORD=mlakhdar1234